<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.XMLbasedApp.Student">
		<property name="id" value="143"></property>
		<property name="name" value="Naresh"></property>
		<property name="address" ref="address"></property>
	</bean>
	
	<bean id="address" class="com.XMLbasedApp.Address" autowire="byType">
		<constructor-arg name="doorNo" value="007"></constructor-arg>
		<constructor-arg name="city" value="Vizag"></constructor-arg>
	</bean>
	
	<bean id="coOrdinates" class="com.XMLbasedApp.CoOrdinates">
	<property name="longitude" value="102.306"></property>
	<property name="latitude" value="316.078"></property>
	</bean>
</beans>